// Abstract files
@import "abstracts/_mixins";
@import "abstracts/_variables";

// Core files
@import "core/_reset";
@import "core/_typography";

// Components
@import "components/_ProductButton";
@import "components/_ProductListCard";
@import "components/_ProductList";
@import "components/_SideFilter";
@import "components/_FeaturedProductCard";
@import "components/_FeaturedProducts";
@import "components/_HomeCategories";
@import "components/_RelatedProducts";
@import "components/_RelatedProductCard";

// Layout


// Sections


// Pages
@import "pages/_Category";
@import "pages/Home";

// Forms
.form__input{
  @include input;
}
.form__label{
  @include label;
  font-size: 18px;
}
.form__button{
  @include button;
}

.form__input-check{
  @include input-check;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
