@import '../abstracts/variables';

@mixin input {
    background: $input-background;
    border-radius: 10px;
    border:none;
    outline: none;
    width: 336px;
    height: 45px;
}

@mixin label {
    font-family: $lato;
    font-style: normal;
    font-weight: 900;
}

@mixin button {
    width: 75px;
    height: 45px;
    background: $primary;
    color: $third;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

@mixin form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin input-check {
    height: 25px;
    width: 25px;
    margin-right: 23px;
    background-color: #eee;
}

