@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;900&display=swap');

//Colors
$primary: #FDBD10;
$secondary: #000000;
$third: #FFFFFF;
$light-brown: rgba(181, 170, 153, 0.4);

//Fonts
$lato: 'Lato';
$overpass: 'Overpass';