@import '../abstracts/variables';

.login { 
    display: grid;
    grid-template-areas: 
    "side nav"
    "side login"
    "side ext";
    grid-template-rows: auto;  
    grid-template-columns: 30% 70%;
    row-gap: 1rem;
    height: 100vh;
    margin: 0;
}

.login__title{
    font-family: $lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;    
    text-align: center;
}


#login__header{
    grid-area: nav;
}

#login__side{
    grid-area: side;
    min-width: 380px;
}

#login__body{
    grid-area: login;
    justify-items: center;
}

#login__externals{
    grid-area: ext;
}

@media screen and (max-width:850px) {
    .login {
        grid-template-areas: 
        "nav"
        "login"
        "ext";
        grid-template-columns: 1fr;
    }
    #login__side{
        display: none;
    }

    .nav__links{
        margin: auto;
    }

    .logo{
        display: flex;
        margin: auto;
    }
}






