@import '../abstracts/variables';

.category {
    display: flex;
    justify-content: space-around;
    min-width: 320px;
    max-width: 1440px;
    margin: auto;

    &__separator {

        width: 1px;
        border-right: 1px solid $light-brown;
        margin: 2rem;
    }
    
}

.categories {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
}

.grid {
    display: grid;
    grid-template-areas: 
        "side separator list";
    grid-template-rows: 1fr;  
    grid-template-columns: 3fr 1fr 8fr;
    grid-column-gap: 10px;
}

#side-filter {
    grid-area: 'side';
}

#product-list {
    grid-area: 'list';
}

#separator {
    grid-area: 'separator';
}

@media all and (max-width: 800px) {
    .grid {
        grid-template-areas: 
        "side"
        "list";
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
    }

    #side-filter {
        margin: auto;
    }

    #separator {
        display: none;
    }
}