@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 0.6rem;
  padding: 0.4rem 1.1rem;
  margin: 0.2rem 0.5rem;
  min-width: 5rem;
}
.btn:focus {
  border: 2px solid rgba(181, 170, 153, 0.4);
}
.btn-primary {
  background-color: #FDBD10;
}
.btn-secondary {
  background-color: #000000;
}

.hcard {
  display: flex;
  align-items: center;
  background-color: rgba(181, 170, 153, 0.4);
  border-radius: 1rem;
  min-width: 320px;
  max-width: 600px;
  margin: 1rem auto;
}
.hcard__image {
  margin: 2rem;
  height: 10rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hcard__info {
  flex-direction: column;
  margin: 1rem;
  text-align: left;
}
.hcard__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
.hcard__description {
  margin: 0.5rem 0;
}
.hcard__info-bottom {
  display: flex;
  align-items: center;
}
.hcard__property {
  font-weight: bold;
}
.hcard__price {
  font-size: 1.2rem;
}
.hcard__details {
  width: 50%;
}
.hcard__details--hidden {
  display: none;
}
.hcard__buttons {
  display: flex;
  justify-content: right;
  margin-left: auto;
}

@media screen and (max-width: 450px) {
  .hcard {
    flex-direction: column;
  }

  .hcard__info {
    text-align: center;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
