@import '../abstracts/variables';

.featured__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(black, 0.25);

    &:nth-of-type(odd) {
        background-color: $primary;
    }
    &:nth-of-type(even) {
        background-color: $light-brown;
    }
    &-image {
        margin: 0rem auto .4rem auto;
        width: 10rem;
        height: 10rem;
        border-radius: 0.5rem;
        box-shadow: 0 .5rem 1rem rgba(black, 0.25);
    }
    &-info {
        padding: 0 1rem;
        text-align: left;
    }
    &-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    &-info-details {
        font-size: 1.5rem;
    }
    &-button {
        display: flex;
        justify-content: flex-end;
    }
}
    