@import '../abstracts/variables';

.featured__card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 316px;
    margin-right: 30px;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(black, 0.15);
    scroll-snap-align: center;
    &-image {
        margin: 0rem auto .4rem auto;
        width: 10rem;
        height: 10rem;
        border-radius: 0.5rem;
        box-shadow: 0 .5rem 1rem rgba(black, 0.15);
    }
    &-info {
        padding: 0 1rem;
        text-align: left;
    }
    &-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    &-info-details {
        font-size: 1.5rem;
    }
    &-button {
        display: flex;
        justify-content: flex-end;
    }
}
.odd {
    background-color: $light-brown;
}
.even {
    background-color: $primary;
}