@import '../abstracts/variables';

.home_categories {
    width: 100%;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        text-align: left;
    }
    .category__card {
        width: 240px;
        height: 316px;
        border-radius: 1rem;
        text-align: center;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 .5rem .5rem rgba($secondary, 0.2);
        &-link {
            text-decoration: none;
        }
        &-link:visited {
            color: $secondary;
        }
        &:nth-of-type(odd) {
            background-color: $light-brown;
        }
        &:nth-of-type(even) {
            background-color: $primary;
        }
        &-image {
            width: 80%;
        }
        &-title {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

}