@import '../abstracts/variables';
@import '../abstracts/mixins';


.login{
    
    &__form{
        @include form;
        margin-top: 35px;
        gap:12px;
    }

    &__password, &__signup{
        font-family: $lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: $secondary;
    }
    
}