@import '../abstracts/variables';

.logo{
    padding:25px;
    font-family: $lato;
    display: flex;

    &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 65px;
        letter-spacing: 0.07em;
        &-black{
            color:$secondary
        }
        &-yellow{
            color:$primary
        }
    }
    &__img{
        width: 25px;
    }
}