@import '../abstracts/variables';
@import '../abstracts/mixins';

.form__input{
    @include input;
}
.form__label{
    @include label;
    font-size: 18px;
}
.form__button{
    @include button;
}

.login{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:12px;
    }

    &__password, &__signup{
        font-family: $lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: $secondary;
    }
    
}