@import '../abstracts/variables';

a {
    text-decoration: none;
}
.nav {
    padding:25px;
    font-family: $lato;
    display: flex;

    &__brand{
        display: flex;
        list-style: none; 
    }

    &__links {
        display: flex;
        list-style: none;
        margin-left: auto;
    }

    &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 65px;
        letter-spacing: 0.07em;
        &-black{
            color:$secondary
        }
        &-yellow{
            color:$primary
        }
    }
    &__logo{
        width: 25px;
    }
    &__item{
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        padding: 0 1rem;
        color: $secondary;
    }
}