@import '../abstracts/variables';

.btn {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 0.6rem;
    padding: 0.4rem 1.1rem;
    margin: 0.2rem 0.5rem;
    min-width: 5rem;

    &:focus {
        border: 2px solid $light-brown;
    }

    &-primary {
        background-color: $primary;
    }

    &-secondary {
        background-color: $secondary;
    }   
}