.prodDesc {
    display: flex;
    border: 1px solid black;

    &__info {
        border: 1px solid black;
        text-align: left;
        padding-left: 0.5rem;

        &-title{
            font-size: 1.8rem;
            font-weight: bold;
            
        }
        &-description {
            margin: 0.5rem 0;
        }

        &-bottom {
            display: flex;
            align-items: center;
        }

    }

    
}