.purchase{
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 600px;
    background-color: white;
        
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 15px; 
        width: 100%;
        padding: 1rem;
    }
    
}

.form__checkbox{
    justify-content: space-between;
}

.form__label{
    margin-right: 5px;

}

#number-card{
    width: 100%;
}

#card-type {
    display: flex;
    justify-content: space-between;
}

#card-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#expiration-card, #security-card{
    width: 100%;
}    