@import '../abstracts/variables';

.sideFilter {
    margin: 3rem;

    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    
    &__filterBlock {
        margin-bottom: 1rem;
    }
    
    &__filterTitle {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    &__filterOption {
        font-size: 1rem;
        list-style-type: none;
        margin-left: 1rem;
    }
}