@import '../abstracts/variables';
@import '../abstracts/mixins';

.product__form{
    @include form; 
    gap: 12px;
    margin: 2rem 0;
}

.form_images{
    display: flex;
}

.button-upload{
    margin-right: 15px;
}